/*
* element selector
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: row;
  height: 6rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

main {
  padding: 0 2rem;
}

h1 {
  font-size: 3.125rem;
  margin: 1rem 0;
}

h2 {
  font-size: 2.2rem;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin: 1rem 0;
  font-size: 1.5rem;

}

a {
  text-decoration: none;
  margin: 0 1.5rem;
  font-size: 1.3rem;
  font-weight: 600;
}

button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  color: #1A1D88;
  font-weight: 600;
  background-color: #CFEBF6;
}

button a {
  text-decoration: none;
  color: inherit;
}

footer {
  background-color: #1A1D88;
  color: #fff;
  padding: 6rem; 
}

/*
* utility classes
*/

.layout-container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  color: #1A1D88;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-container {
  width: 12rem;
}

.image-container img {
  width: 100%;
  height: auto;
}


/*
* specific styling
*/

.hero {
  margin: 5rem 0;
}

.about {
  margin: 15rem 0;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  width: 30rem;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;
}

.cards--wide .card {
  width: 31%;
}

.card {
  width: 20%;
  padding: 2rem 4rem;
  border-radius: 1rem;
  background-color: #defafa;
}

.img-card {
  width: 19rem;
  height: 19rem;
  object-fit: cover;
  border-radius: 1rem;
  width: 100%;
}

.icon {
  width: 4rem;
  margin: .5rem 0;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(138, 138, 138, 0.2), 0 2px 3px 0 rgba(138, 138, 138, 0.2);
}

.small {
  font-size: 1.2rem;
  line-height: 2rem;
}

.small a {
  text-decoration: none;
  color: inherit;
}

.hero-content {
  width: 50%;
}

.hero .image-container {
  margin-right: 8rem;
}

.hero .image-container img {
  border-radius: 1rem;
}

.github-card {
  padding: 0 1rem;
  width: 25% !important;
}

.top {
  width: 4rem;
  position: sticky;
  bottom: 0;
  left: 90vw;
}

a .icon {
  margin: 0.5rem -2rem;
}
